<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Comment</title>
  </head>
  <body>
    <h1>Comment Id : <%= comment.id %></h1>
    <p><%= comment.text %> - <%= comment.username %></p>
    <a href="/comments">Kembali</a>
  </body>
</html>
